<div id="mediaholer">
<ul class="thumbnails">
{% for m in media %}
<li>
    <div class="thumbnail">
    <img src="{{ thumbnail(m)}}" />
    <a href="#" class="btn insertfull" data-full-size="{{ thumbnail(m,false) }}">{{  "media.insertfull" | trans ( {}, 'CoshiMediaBundle') }}</a>
    <a href="#" class="btn insertthumb" 
        data-full-size="{{ thumbnail(m,false) }}"
        data-thumb-size="{{ thumbnail(m) }}"
        >
        {% trans from 'CoshiMediaBundle' %}media.insertthumb{%endtrans%}</a>
    </div>
</li>
{% endfor %}
</ul>

{% if pager.haveToPaginate() %}
{{ pagerfanta(pager, 'twitter_bootstrap_translated', {routeName: 'coshi_media_internal_list', routeParams: {'element': element }}) }}
{% endif %}
</div>
<script type="text/javascript" >
$(document).ready(
    function(){
        $('div#mediaholer .pagination li a').click(function(){
            var url = $(this).attr('href');
            $('#mediaholer').addClass('loading');
            $.get(url, function(data){
                $('#mediaholer').html(data);

                $('#mediaholer').removeClass('loading');
            });
            return false;
        });
    {% if element %}
    //alert('{{ element }}')
    //
      $('div#mediaholer ul li div a.insertfull').click(function(){
        var fullimg = $(this).attr('data-full-size');
        $('#{{ element }}').tinymce().execCommand('mceInsertContent',false,'<img src="'+fullimg+'" />');
        return false;
      
      });
      $('div#mediaholer ul li div a.insertthumb').click(function(){
        var fullimg = $(this).attr('data-full-size');
        var thumburl = $(this).attr('data-thumb-size');

        $('#{{ element }}').tinymce().execCommand('mceInsertContent',false,'<a href="'+fullimg+'" ><img src="'+thumburl+'" /></a>');
        return false;
      
      });


    {% endif %}
    }
);
</script>
