{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}
{% block content %} 
<h2> {{ "media.index" | trans({}, 'CoshiMediaBundle' )}}</h2>
<ul class="thumbnails">
{%for m in media %}
<li class="span3">
<div class="thumbnail">
    <img src="{{ thumbnail(m) }}" />
    <span>
    <a href="{{ path('CoshiMediaBundle_delete',{'id':m.id})}}">{%trans%}Delete{%endtrans%}</a>
    </span>
</div></li>

{%endfor%}
</ul>
<div class="add-media">

<h2>{{ "media.new" | trans({}, 'CoshiMediaBundle')}}</h2>

<form action="{{ path ('CoshiMediaBundle_upload')}}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="Upload Document" />
</form>  

</div>


{% endblock %}
